exclude: "(.*\\.csv)|(^pins/tests/_snapshots)"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-added-large-files
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.5.4" # Sync with pyproject.toml
    hooks:
      - id: ruff
        args: ["--fix", "--config=pyproject.toml"]
      - id: ruff-format
